@import "variables.styl"

$button-font-size = 14px
$color-button-secondary = $color-element-primary

.button
  outline: none;
  height: 50px;
  width: 225px;
  background-color: transparent;
  color: $color-title;
  border: 1px solid $color-title;
  border-radius: 2px;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  font-family: $font-family-text
  font-weight: bold;
  font-size: $button-font-size

  &:focus
  &:hover
    border-color: $color-element-primary
    background-color: $color-element-primary
    cursor: pointer

  &--secondary
    background-color: $color-button-secondary

    &:hover
    &:focus
      background-color: darken($color-element-primary, 15%)

.divider
  display: flex
  justify-content: center
  align-items: center

  &__red-circle
    height: 10px
    width: 10px
    background-color: $color-element-primary
    border-radius: 50%
    margin: 0 10px

  &__white-stripe
    height: 1px
    width: 5%
    min-width: 80px
    background-color: $color-title

    &_additional
      background-color: #b9b9b9;
