.button {
  display: inline-block;
  outline: none;
  height: 60px;
  width: 220px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: background-color .2s ease-in-out;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.button_margin {
  margin: 0 10px;
}

.button:hover {
  background-color: #e74c3c;
  cursor: pointer;
}

.button_bg-color-red {
  background-color: #e74c3c;
}

@media (max-width: 1024px) {
  .button {
    margin: 10px 0;
  }
}
