.header {
  background-image: url('images/header__background.png');
  height: 991px;
}

.header__background-blackout {
  background-color: #000000;
  height: inherit;
  opacity: 0.8;
  position: relative;
  overflow: hidden;
}

.header__left-side-corner, .header__right-side-corner {
  position: absolute;
  bottom: -17px;
  width: 50%;
  height: 0;
  border-bottom: 124px solid #fff; 
}

.header__left-side-corner {
	border-right: 50vw solid transparent;
}

.header__right-side-corner { 
  right: 0;
	border-left: 50vw solid transparent;
}
