.navigation {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}


@media (max-width: 1248px) { 
  .navigation {
    width: 80%;
  }
}

.navigation__logo {
  display: inline-block;
  border: 2px solid #fff;
  font-size: 36pt;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation__B-letter, .navigation__other-letters {
  display: inline-block;
  padding: 0 15px;
}
.navigation__B-letter {
  background-color: #fff;
}

.navigation__other-letters {
  color: #fff;
}

.navigation__menu {
  display: inline-flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  width: 70%;
  justify-content: space-between;
  margin-left: auto
}

.navigation__button {
  background-color: transparent;
  border: none;
  color: #fff;
  transition: color .2s ease-in-out, border-bottom .2s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
  outline: none;
}

.navigation__button:hover {
  color: #E74C3C;
  cursor: pointer;
  border-bottom: 2px solid #E74C3C;
}
