@import "variables.styl"

.navigation
  width: $page-width;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  &__logo
    display: inline-block;
    border: 2px solid $color-white;
    font-size: $h2-font-size;
    font-family: $font-family-arial;
    height 50px;
    margin-left: 35px;

  &__B-letter, &__other-letters
    display: inline-block;
    padding: 5px 10px;

  &__B-letter
    background-color: $color-white;
    padding-left: 15px;
    padding-right: 15px;

  &__other-letters
    color: $color-white;


  &__menu
    display: inline-flex;
    font-family: $font-family-arial;
    font-size: $h6-font-size;
    width: 60%;
    justify-content: space-between;
    margin-left: auto


  &__button
    background-color: transparent;
    border: none;
    color: $color-white;
    transition: color .2s ease-in-out, border-bottom .2s ease-in-out;
    border-bottom: 2px solid transparent;
    padding: 5px  0;
    outline: none;
    text-transform: uppercase;
    wdith: 60px;
    

  &__button:hover, &__button:focus
    color: #E74C3C;
    cursor: pointer;
    border-bottom: 2px solid #E74C3C;
