$color-red = #e74c3c
$color-white = #fff
$color-gray-light = #e5e5e5
$color-gray = #706964
$color-dark-gray = #3c3530


$font-family-arial = Arial, Helvetica, sans-serif
$font-family-open-sans = 'Open Sans', sans-serif
$font-family-sans-pro = 'Source Sans Pro', sans-serif


$page-width = 65%

$h1-font-size = 74px
$h2-font-size = 36px
$h3-font-size = 27px
$h4-font-size = 20px
$h5-font-size = 16px
$h6-font-size = 14px