$color-element-primary = #e74c3c
$color-title = #fff
$color-element-bg = #e5e5e5

$font-family-arial = Arial, Helvetica, sans-serif
$font-family-text = 'Open Sans', sans-serif
$font-family-title = 'Source Sans Pro', sans-serif


$page-width = 65%
$page-width-mobile = 90%

$h1-font-size = 74px
$h2-font-size = 36px
$h3-font-size = 27px
$h4-font-size = 20px
$h5-font-size = 16px
$h6-font-size = 14px