.who-we-are {
  min-height: 440px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.who-we-are__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  text-align: center;
}

@keyframes rotate-item {
  from {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(-45deg)
  }
  to {
    transform: rotate(0deg)
  }
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(45deg)
  }
  to {
    transform: rotate(0deg)
  }
}

.who-we-are__item:hover .who-we-are__icon-box {
  animation: rotate-item 1s 1 alternate;
  border-color: #e74c3c;
}

.who-we-are__item:hover .who-we-are__item-title {
  color: #e74c3c;
}

.who-we-are__item:hover .who-we-are__icon {
  animation: rotate-icon 1s 1 alternate;
}

.who-we-are__icon-box {
  display: inline-flex;
  height: 70px;
  width: 70px;
  border: 1px solid #e5e5e5;
  justify-content: center;
  align-items: center;
  color: #e74c3c;
  font-size: 16pt;
  margin-bottom: 30px;
  transition: border-color .4s ease-in-out;
}

.who-we-are__item-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 550;
  font-size: 18pt;
  text-transform: uppercase;
  color: #868686;
  transition: color .4s ease-in-out;
}

.who-we-are__item-stripe {
  height: 1px;
  background-color: #868686;
  width: 40px;
  margin: 15px 0;
}

.who-we-are__item-description {
  font-family: 'Source Sans Prop', sans-serif;
  font-size: 12pt;
  color: #acacac;
}
