@import "../main.styl"

.about-us
  width: $page-width
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-items: center
  font-family: $font-family-sans-pro
  min-height: 700px

  &__image
    margin: 0 20px

  &__content
    width: 50%
    min-height: 400px
    display: flex
    flex-direction: column
    justify-content: space-between

  &__title
    border-left: 5px solid $color-red
    color: $color-gray
    text-transform: uppercase
    font-size: $h2-font-size
    padding-left: 27px
    letter-spacing: 4px
    font-weight: bold

  &__text
    color: lighten($color-gray, 10%)
    line-height: 2
    margin: 10px 0

  &__button
    button()
    color: $color-gray
    background-color: transparent
    border: 1px solid $color-gray

    &:hover
      background-color: $color-red
      color: $color-white
      cursor: pointer

@media (max-width: $md)
  .about-us
    flex-direction: column
    min-height: 500px

    &__content
      margin-top: 20px
      width: 100%;


