@import "../main.styl"

$color-arrow = #3c352f
$bg-color-arrow = #716b65

$sub-content-font-size = 18px
$sub-content-color = #a59f9a

.carousel
  color: $color-title
  text-align: center

  &__frame
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

  &__slides
    display: inline-block;
    margin: 0
  
  li
    position: relative;
    display: inline-block;
    width: 100vw

  &__arrow
    font-size: $h3-font-size
    color: $color-arrow
    border: none
    border-radius: 2px
    background-color: $bg-color-arrow
    position: absolute
    transition: outline-color .2s ease, color .2s ease, background-color .3s ease;
    height: 45px;
    width: 45px
    line-height: 45px
    bottom: 52px
    z-index: 1
    top: 350px

    &_left
      left: 30px;
    
    &_right
      right: 30px

  &__arrow:hover
  &__arrow:focus
    background-color: $color-element-primary
    color: $color-title
    cursor: pointer
    outline-color: $color-element-primary

