@import "../main.styl"

$navigation-font-size = 15px
$logo-font-size = 38px

.navigation
  width: $page-width
  display: flex
  flex-wrap: wrap
  color: $color-title
  font-size: $navigation-font-size
  font-family: $font-family-text

  &__logo
    display: flex;
    align-items: center;
    border: 2px solid $color-title
    border-bottom-width: 4px
    border-right-width: 4px
    font-size: $logo-font-size
    height: fit-content
    width: fit-content
    margin-left: 35px
    font-weight: 100

  &__B-letter, &__other-letters
    padding: 4px 10px

  &__B-letter
    display: inline-block
    background-color: $color-title
    color: #4a4c55
    padding-left: 12px
    padding-right: 12px
    font-weight: bold

  &__menu
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 59%
    position: relative;
    left: 306px;

  &__burger
    display: none
  
  &__home
    display: none
    font-size: $h2-font-size

  &__menu-wrapper
    display: inline-flex
    width: 100%
    justify-content: space-between
    margin-top: 7px

  &__button
    background-color: transparent
    border: none
    transition: .2s
    border-bottom: 2px solid transparent
    padding: 10px 0 20px
    outline: none
    color: $color-title
    text-transform: uppercase

    &:hover, &:focus
      color: $color-element-primary
      cursor: pointer
      border-bottom: 2px solid $color-element-primary
      font-weight: bold;

@media screen and (max-width: $md)
  .navigation
    width: 90%
 
    &__menu
      left: 0
      margin-left: auto
 
@media screen and (max-width: $sm) 
  .navigation
    flex-direction: column

    &__menu
      margin: 10px 0
      width: 100%

    &__logo
      margin-left: 0

@media screen and (max-width: $xs)
  .navigation
    flex-direction: row
    width: 90%
    margin-top: 10px

    &__burger
      display: block
      transition: .2s
      font-size: $h2-font-size
      width: fit-content;
      position: absolute;
      right: 0;
      line-height: 50px
    
    &__home
      display: flex
      position: absolute
      right: 15px
      top: 15px
      transition: .4s
      
      &:hover
        color: $color-element-primary 

    &__menu
      width: 40%
      margin: 0
      margin-left: auto
    
    &__menu-wrapper
      display: block
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: -1;
      opacity: 0;
      margin-top: 0
      display: flex;
      flex-direction: column
      justify-content: center
      align-items: center
      transition: .2s

    &__button
      font-size: $h3-font-size
      margin: 8px 0
      width: fit-content
