@import "../main";

$portfolio-title-color = #6a6a6a;
$portfolio-text-color = #b9b9b9;

.portfolio
  text-align: center

  &__title
    font-family: $font-family-title
    font-size: $h2-font-size
    font-weight: bold
    color: $portfolio-title-color
    margin: 5px 0
    letter-spacing: 3px

  &__text
    font-family: $font-family-text
    font-size: $h6-font-size
    margin: 20px 0 0px;
    color: $portfolio-text-color

  &__breadcrumbs
    margin: 56px auto;
    width: 37%;
