@import "../main.styl"

.team
  background-image: url('images/team_background.jpg')
  height: 740px
  position: relative
  overflow: hidden

  &__content
    margin-top: 143px;
    letter-spacing: 4px;
    text-align: center
    color: #fff

  &__title
    font-family: $font-family-title
    font-size: $h2-font-size
    font-weight: bold
    text-transform: uppercase

  &__subtitle
    font-size: 11px;
    letter-spacing: 2px;
    font-family: $font-family-text
    margin: 25px 0 29px;

  &__divider
    margin: 0;

  &__svg-wrapper
    height: 100%;
    width: 100%
    position: absolute

